@media(max-width:1224px){
    .columnStack {
        margin-bottom: 5vh;
    }
}

@media(min-width:1224px){
    .rowStack {
        margin-top: 5vh;
    }
}

.lastElement {
    margin-bottom: 5vh;
}

.dashboardBackground {
    background-color: rgb(237, 237, 237)
}

.componentBackground {
    background-color: white;
    border-radius: 20px;
}