.kpiValue {
    font-size: 2.0em;
    float: right;
    margin-right: 5%;
    margin-top: 3%;
}

.kpiTitle {
    font-size: 1.2em;
    float: right;
    margin-right: 5%;
}

.kpiInfo {
    font-size: 0.7em;
    float: right;
    margin-right: 5%;
    margin-top: 1%;
}

@media(min-height:640px){
    .kpiContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 22vh;
        width: 100%;
    }
}

@media(min-height:840px){
    .kpiContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 21.9vh;
        width: 100%;
        float: left;
    }

    .kpiHr {
        width: 50%;
        margin-right: 3%;
    }
}

@media(max-height:839px){
    .kpiHr {
        width: 50%;
        margin-right: 3%;
        margin-top: 1%;
        margin-bottom: 1%;
    }
}