.kpiHr {
    width: 50%;
    margin-right: 3%;
}

.kpiValue {
    font-size: 2.5em;
    float: right;
    margin-right: 5%;
    margin-top: 3%;
}

.kpiTitle {
    font-size: 1.3em;
    float: right;
    margin-right: 5%;
    margin-bottom: 2%;
}