@media(max-width:768px){
    .columnStack {
        margin-bottom: 5vh;
    }
}

.dashboardBackground {
    background-color: rgb(237, 237, 237)
}

.componentBackground {
    background-color: white;
    border-radius: 20px;
}